@page "/"
@using ChessLibrary;

<div class="game-container">

	<WebLibrary.ChessTable @bind-game="chessGame" FieldSize="10.6vw"/>
	<WebLibrary.OnlineChessDialog @bind-game="chessGame" url="http://localhost:6970/" />

</div>

@code {
	public Chess chessGame = new Chess(() => 0);

	public async Task GameUpdated()
	{
		await InvokeAsync(StateHasChanged);
	}
}