@page "/"
@using ChessLibrary;

<div class="game-container centered-content">
    
    <WebLibrary.ChessTable game="game" FieldSize="11.8vh"/>
    <WebLibrary.OnlineChessDialog game="game" url="ws://localhost:6970" />
    
</div>


@code {

    public Chess game = new Chess(() => 0);

    void SetGame(Chess newGame)
    {
        game = newGame;
    }

}
