@page "/"
@using ChessLibrary;

<div class="game-container centered-content">
    
    <WebLibrary.ChessTable game="@game" FieldSize="11.8vh"/>
    <WebLibrary.OnlineChessDialog game="@game" ipValue="192.168.8.197" portValue="6969"/>
    
</div>


@code {

    public Chess game = new Chess(() => 0);

}
